/* Utilities */

.section__header {
    gap: 1rem;
    margin-block-end: 1.5rem;
}

.heading {
    margin: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-reverse {
    flex-direction: row-reverse;
} 

.flex-grow {
    flex: 1;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.justify-left {
    justify-content: left;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-right {
    justify-content: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none;
}

.gap-1 {
    gap: 1rem;
}

.grid {
    display: grid;
}

.grid-columns {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--layout-gap);
}

:focus-visible {
    outline: 2px solid rgb(var(--color-accent, 18, 18, 18));
    outline-offset: 2px;
}

@media screen and (max-width: 749px) {

    .grid-columns-mobile {
        grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
        gap: var(--layout-gap);
    }

    .mobile-flex {
        display: flex;
    }

    .mobile-flex-wrap {
        flex-wrap: wrap;
    }

    .mobile-flex-column {
        flex-direction: column;
    }

    .mobile-flex-reverse {
        flex-direction: row-reverse;
    } 

    .mobile-flex-grow {
        flex: 1;
    }

    .mobile-items-center {
        align-items: center;
    }

    .mobile-items-start {
        align-items: flex-start;
    }

    .mobile-items-end {
        align-items: flex-end;
    }

    .mobile-justify-left {
        justify-content: left;
    }

    .mobile-justify-end {
        justify-content: end;
    }

    .mobile-justify-center {
        justify-content: center;
    }

    .mobile-justify-between {
        justify-content: space-between;
    }

    .mobile-justify-right {
        justify-content: right;
    }

    .mobile-text-left {
        text-align: left;
    }

    .mobile-text-center {
        text-align: center;
    }

    .mobile-text-right {
        text-align: right;
    }

    .mobile-hidden {
        display: none;
    }
}